*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background: rgb(113, 113, 113);
    color: white;
}
.nav-link{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}

.nav-link:hover{
    color: rgb(58, 234, 64);
}

.nav-item{
   padding-right: 50px; 
}
.navbar-brand{
    color: white;
    font-family: 'Unica One', cursive;
}

.navbar-brand:hover{
    color: white;
}

span{
    color: rgb(58, 234, 64);
    cursor: pointer; 
}

.d-flex{
    font-family: 'Unica One', cursive;
    color: rgb(58, 234, 64);
}

/* ~~~~~~~~~ MAIN SECTION ~~~~~~~~~~ */
.main{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/gym_exhausted.jpg)no-repeat;
    background-size: cover;
    height: 110vh;
}

.main h1 {
    font-size: 6rem;
    font-family: 'Unica One', cursive;
    font-weight: 800;
    
}

.joinbutton {
    font-weight: bold;
    height: 55px;
    width: 140px;
    color: white;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #3AEA40 0%, #316e33 100%);
    transition: 1s;
    
}

.joinbutton:hover {
    background: linear-gradient(90deg, #316e33 0%, #3AEA40  100%);
    transition: all 1s;
}

/* ~~~~~~~~~ DETAILS SECTION ~~~~~~~~~~ */

.details{
    margin-top: -50px;
}

.details h5{
    font-size: 1.5rem;
    font-weight: 700;
}

.details a {
    text-decoration: none;
    color: rgb(58, 234, 64);
}

.back:hover{
    color: white;
    cursor: pointer;
}

.back{
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.8s;
}

.back::before{
    content: "";
    position: absolute;
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg , #316e33 0%, #3AEA40  100%);
    z-index: -1;
    transition: all 0.8s;
}

.back:hover::before{
    height: 100%;
}
.back:hover a{
    color: white;
    cursor: pointer;
}

/* more section */

.more h2{
    font-weight: 800;
}

.more p{
    font-weight: lighter;
}

p{
  font-size: 1.2rem;  
}

/* discover */

.discover{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/Group_Stretch.jpg)no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 50vh;
}
.discover p{
    font-size: 2rem;
    font-weight: 500;
    padding-top: 4rem;
}
.discover h1{
    font-weight: 800;
    font-size: 2.8rem;
}

/* SERVICES */

.services h1{
    font-weight: 800;
    font-size: 2.8rem;
}

.services h5{
    font-weight: 700;
}

.fa-solid{
    font-size: 2.5rem;
}

.back:hover .fa-solid{
    color: white;
}

/* classes */
.classes h1{
    font-weight: 800;
    font-size: 2.8rem;
}

.classes .card{
    /* border: none; */

}

.classes p{
    font-weight: lighter;
}

.classesbutton{
    font-weight: bold;
    height: 55px;
    width: 80%;
    color: white;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #3AEA40 0%, #316e33 100%);
    transition: 1s; 
}

.classesbutton:hover {
    background: linear-gradient(90deg, #316e33 0%, #3AEA40  100%);
    transition: all 1s;
}

/* gallery */

/* footer */
.footer{
    background-color: black;
    color: white;
}

.footer h4, h5{
    font-weight: 900;
}

.footer p{
    margin: 0;
    color:  rgb(214, 213, 213);
}

.link{
    cursor: pointer;
    transition: all 0.5s;
}

.link:hover{
    color: rgb(58, 234, 64);
    padding-left: 5px;
    transition: all 0.5s;
}

.fa-bolt{
    font-size: 1.5rem;
}

.fa-bolt:hover{
    color: #316e33;
}

.social{
    color: white;
    font-size: 25px;
    transition: all 0.5s ;
}

.social:hover{
    color: rgb(58, 234, 64);
    transition: all 0.5s;
    cursor: pointer;
}

.fa-location-dot, .fa-phone, .fa-envelope{
    font-size: 1.5rem;
}

.footer .card{
    background: rgb(113, 113, 113);
    border-radius: 0;
}

.footer .card p{
    color: black;
}