*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background: black;
    color: white;
}
.nav-link{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-link:hover{
    color: rgb(58, 234, 64);
}

.nav-item{
   padding-right: 50px; 
}
.navbar-brand{
    color: white;
    font-family: 'Unica One', cursive;
}

.navbar-brand:hover{
    color: white;
}

span{
    color: rgb(58, 234, 64);
    cursor: pointer; 
}

.d-flex{
    font-family: 'Unica One', cursive;
    color: rgb(58, 234, 64);
}

/* ~~~~~~~~~ MAIN SECTION ~~~~~~~~~~ */
.main{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/gym_exhausted.jpg)no-repeat;
    background-size: cover;
    height: 110vh;
}

.main h1 {
    font-size: 6rem;
    font-family: 'Unica One', cursive;
    font-weight: 800;
    
}

.joinbutton {
    height: 55px;
    width: 140px;
    color: white;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #3AEA40 0%, #316e33 100%);
    transition: 1s;
}

.joinbutton:hover {
    background: linear-gradient(90deg, #316e33 0%, #3AEA40  100%);
    transition: all 1s;
}

/* ~~~~~~~~~ DETAILS SECTION ~~~~~~~~~~ */

.details{
    margin-top: -50px;
}

.details h5{
    font-size: 1.5rem;
    font-weight: 700;
}

.details a {
    text-decoration: none;
    color: rgb(58, 234, 64);
}

.back:hover{
    color: white;
    cursor: pointer;
}

.back{
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.8s;
}

.back::before{
    content: "";
    position: absolute;
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg , #316e33 0%, #3AEA40  100%);
    z-index: -1;
    transition: all 0.8s;
}

.back:hover::before{
    height: 100%;
}
.back:hover a{
    color: white;
    cursor: pointer;
}

/* more section */

.more h2{
    font-weight: 800;
}

.more p{
    font-weight: lighter;
}

p{
  font-size: 1.2rem;  
}